<h2>Update test result</h2>
<div class="container">
    <form action="action_page.php">
      <div class="row">
        <div class="col-25">
          <label for="fname">Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="name" name="name" placeholder="name..">
        </div>
      </div>
      
      <div class="row">
        <div class="col-25">
          <label for="lname">Age</label>
        </div>
        
        <div class="col-75">
            
          <input type="text" id="name" name="age" placeholder="age">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">id</label>
        </div>
        
        <div class="col-75">
            
          <input type="text" id="name" name="age" placeholder="id">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="subject">the result of the medical examination</label>
        </div>

        <div class="col-75">
          <textarea id="subject" name="subject" placeholder="Write" style="height:200px"></textarea>
        </div>
      </div>

      <div class="row">
        <input type="submit" value="Submit">
      </div>
      <br>
      <div class="row">
        <a href="http://localhost:4200/nurse-home-component"> <input type="exit" value="exit"></a>
      </div>
    </form>
  </div>


  