

 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="patient-home.component.css">
    <title>Patient</title>
</head>

<body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"> <i class="fa-solid fa-stethoscope"></i></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav ml-auto">
                    <a href="/" button class="btn btn-primary" type="button">
                        <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Home</span></a>
                    
                  <li>
                    <a routerLink="profilenurse" button class="btn btn-primary" type="button">
                        <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Profile</span></a>
                </li>
    
              <li>
                <a routerLink="message-patient" button class="btn btn-primary" type="button">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Messages</span></a>
            </li>
    
    
            <li>
                <a routerLink="medical-file" button class="btn btn-primary" type="button">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">medical file</span></a>
            </li>
            <li>
                <a routerLink="view-test-result" button class="btn btn-primary" type="button"> 
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">view test result</span></a>
            </li>
            <li>
                <a routerLink="reminder-to-take-medicine" button class="btn btn-primary" type="button">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">reminder to take the medicine</span></a>
            </li>
            <li>
                <a routerLink="book-an-appointment" button class="btn btn-primary" type="button">
                    <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">book an appointment</span></a>
    
    
            </li>
            <li>
                <a routerLink="view-upcoming-appointment" button class="btn btn-primary" type="button">
                    <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">view upcoming appointments</span> </a>
                 
            </li>
           
            <li>
                <a href="http://localhost:4200/login-component" button class="btn btn-primary" type="button">
                    <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">sign out</span> </a>
                 
            </li>
                 
                </ul>
              </div>
            </div>
          </nav>          
          
          <section class="main">
            <div>
                
                <h2><br><span>Health is Wealth</span></h2>
                <h3>healthcare you trust</h3>
                <div class="social-icons">
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                    <a href="https://twitter.com/i/flow/login"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
        
                </div>
            </div>
        </section>






</body> 