
 
<div class="container">
    <div class="w-95 w-md-75 w-lg-60 w-xl-55 mx-auto mb-6 text-center">
    <h2 class="display-18 display-md-16 display-lg-14 mb-0">work schedule</h2>
    <br>
    </div>
    <div class="row">
    <div class="col-md-12">
    <div class="schedule-table">
    <table class="table bg-white">
    
    <tbody>
    <tr>
    <td class="day">Sunday</td>
    <td class="active">
    <h4>Patiens test</h4>
    <p>07:00 - 12:00</p>
    </td>
    <td></td>
    <td class="active">
    <h4>department 2/4</h4>
    <p>13:00-15:00</p>
    </td>
    <td class="active">
    <h4>blood pressure monitorgin</h4>
    <p>15:00-17:00</p>
    </td>
    <td></td>
    </tr>
    <tr>
    <td class="day">Monday</td>
    <td></td>
    <td class="active">
    <h4> Administering medication</h4>
    <p>12:00-13:00</p>
    </td>
    <td class="active">
    <h4>department 7</h4>
    <p>13:00-15:00</p>
    </td>
    <td></td>
    <td class="active">
    <h4>consultation</h4>
    <p>17:00 - 19:00</p>
    </td>
    </tr>
    <tr>
      <td class="day">Tuesday</td>
    <td class="active">
    <h4>Update data result</h4>
    <p>7:00 - 12:00</p>
    </td>
    <td></td>
    <td class="active">
    <h4>department 2/4</h4>
    <p>13:00-15:00</p>
    </td>
    <td class="active">
    <h4>consultation</h4>
    <p>15:00-17:00</p>
    </td>
    <td></td>
    </tr>
    <tr>
    
      <td class="day">Wednsday</td>
      <td></td>
      <td class="active">
      <h4>Administering medication</h4>
      <p>12:00-13:00</p>
      </td>
      <td class="active">
      <h4>department 2</h4>
      <p>13:00-15:00</p>
      </td>
      <td></td>
      <td class="active">
      <h4>consultation</h4>
      <p>17:00 - 19:00</p>
      </td>
      </tr>
      <tr>
    
    
    
      
    <td class="day">Thursday</td>
    <td></td>
    <td class="active">
    <h4>department 2/1</h4>
    <p>12:00-15:00</p>
    </td>
    <td></td>
    <td class="active">
    <h4>Update data result</h4>
    <p>17:00-19:00</p>
    </td>
    <td></td>
    </tr>
    <tr>
    <td class="day">Friday</td>
        <td class="active">
            <h4>Meeting</h4>
            <p>07:00-08:00</p>
    <h4></h4>
    </td>
    <td></td>
    <td class="active">
    </td>
    <td class="active">
    <h4></h4>
    </td>
    </tr>
    <tr>
    <td class="day">Satarday</td>
    <td></td>
    <td></td>
    <td class="active">
    <h4>Meeting</h4>
    <p>13:00-14:00</p>
    </td>
    <td class="active">
    <h4>blood pressure monitorgin</h4>
    <p>15:00-17:00</p>
    </td>
    <td></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    <div class="a" class="col-md-2">
      <a href="http://localhost:4200/nurse-home-component"><input  type="button" class="profile-edit-btn" name="btnAddMore" value="close"/></a>
    
    </div>
    