
section {
    padding: 100px 100px;
}
.main {
   
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;    
    background: url(../../../assets/images/stethoscope.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    
   
}


.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
    margin-top: 30%;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color:  rgb(233, 70, 111);
    font-size: 3em;
    font-weight: 600;
    margin-top: 34%;
    
    
}

.main h3 {
    color: #4e9eff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 3%;
}

.social-icons a {
    color: #4e9eff;
    font-size: 1.7em;
    padding-right: 5px;
    margin-left: 20%;
}

