
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    
</head>

<body>
    <div>
        <div class="row">
            <div class="col-lg-6 p1">
                <h1 class="big-heading">Making Health Care Better Together</h1>
                <h4 class="pr">Every day is a new opportunity for you to do something for your health.</h4>
            </div>

            <div class="col-lg-6">
                <img class="title-image" src="../../../assets/images/doctor.png" alt="doctor-image">
            </div>
        </div>
        <div class="row end">
            <div class="col-lg-6 ">
                <i class="fa-solid fa-heart-pulse fa-5x" style="color:#143F6B ;"></i>
                <h6>your health is our top priority</h6>
            </div>

            <div class="col-lg-6">
                <i class="fa-solid fa-user-doctor fa-5x" style="color:#143F6B ;"></i>
                <h6>A dedicated team of healthcare professionals<br> is here to provide you with the best <br>possible
                    care and support</h6>
            </div>
        </div>
        <div class="contact" id="contact">
            <a class="social" href=""><i class="fa-brands fa-instagram"></i></a>
            <a class="social" href=""><i class="fa-brands fa-facebook"></i></a>
            <a class="social" href=""><i class="fa-brands fa-twitter"></i></a>
        </div>
    </div>
</body>

</html>