<body>

    <h1>Patiens data</h1>
<br>
      <table>
  
          <colgroup></colgroup>
          <colgroup></colgroup>
          <colgroup></colgroup>
          <colgroup></colgroup>
  
          <thead>
           <tr>
            <th>
                <h2>Name</h2>
            </th>
            <th>
                <h2>id</h2>
            </th>
           
            <th>
                <h2>Age</h2>
            </th>
           
            <th>
                <h2>physician assessment</h2>
            </th>
           
           </tr>
          </thead>
  
        
          <tbody>
              <tr>
                  <td>Lorem ipsum dolor sit amet</td>
                  <td>Lorem ipsum dolor sit amet</td>
                  <td>Lorem ipsum dolor sit amet</td>
                  <th>Feature "Cras mattis" <span>Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</span></th>
              </tr>
              <tr>
                  <td>Lorem ipsum dolor sit amet</td>
                  <td>Lorem ipsum dolor sit amet</td>
                  <td>Lorem ipsum dolor sit amet</td>
                  <th>Feature "Donec ullamcorper" <span>Donec ullamcorper nulla non metus auctor fringilla. Etiam porta sem malesuada magna mollis euismod.</span></th>
              </tr>
              <tr>
                  <td>Lorem ipsum dolor sit amet</td>
                  <td>Lorem ipsum dolor sit amet</td>
                  <td>&mdash;</td>
                  <th>Feature "Lorem ipsum" <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</span></th>
              </tr>
              <tr>
                  <td>Lorem ipsum dolor sit amet</td>
                  <td>Lorem ipsum dolor sit amet</td>
                  <td>&mdash;</td>
                  <th>Feature "Lorem ipsum" <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></th>
              </tr>
              <tr>
                  <td>Lorem ipsum dolor sit amet</td>
                  <td>&mdash;</td>
                  <td>&mdash;</td>
                  <th>Feature "Lorem ipsum" <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></th>
              </tr>
              <tr>
                  <td>Lorem ipsum dolor sit amet</td>
                  <td>&mdash;</td>
                  <td>&mdash;</td>
                  <th>Feature "Lorem ipsum" <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></th>
              </tr>
              
          </tbody>
  
      </table>
      <div class="col-md-2">
        <a href="http://localhost:4200/nurse-home-component"><input  type="button" class="profile-edit-btn" name="btnAddMore" value="close"/></a>
      </div>
      <br>
      <br>
  
  </body>
